@*@model PagedList.IPagedList<OpenOrderFramework.Models.Item>
    @using PagedList.Mvc;*@
@*<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@

@model OpenOrderFramework.ViewModels.ItemCuisineViewModel

@{
    ViewBag.Title = "Food";
}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="favicon.ico">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<!-- Pixel Fabric clothes icons -->
<link rel="stylesheet" type="text/css" href="~/Content/fonts/pixelfabric-clothes/style.css" />
<!-- General demo styles & header -->
<link rel="stylesheet" type="text/css" href="~/Content/food.css" />
<!-- Flickity gallery styles -->
<link rel="stylesheet" type="text/css" href="~/Content/flickity.css" />
<!-- Component styles -->
<link rel="stylesheet" type="text/css" href="~/Content/component.css" />
<script src="~/Scripts/modernizr.custom.js"></script>
<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".AddLink").click(function () {
            // Get the id from the link
            var recordToAdd = $(this).attr("data-id");
            if (recordToAdd != '') {
                // Perform the ajax post
                $.post("/ShoppingCart/AddToCart", { "id": recordToAdd },
                    function (data) {
                        $('#cart-status').text(data.CartCount);
                    });
            }
        });
    });
</script>

<!-- Button trigger modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div aria-hidden="true" class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>An item was added to your cart.</strong> To check out now simply <a href="#" class="alert-link">click here</a>.
    </div>

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Confirm check out.</h4>
            </div>
            <div class="modal-body">
                <p>Would you like to check out or keep shopping??</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Continue</button>
                <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "ShoppingCart")'">Check Out</button>
            </div>
        </div>
    </div>
</div>

<!-- Bottom bar with filter and cart info -->
<div class="bar">
    <div class="filter">
        <span class="filter__label">Filter: </span>
        <button class="action filter__item filter__item--selected" data-filter="*">All</button>
        <button class="action filter__item " data-filter=".veg">Veg</button>
        <button class="action filter__item " data-filter=".nonVeg">Non-Veg</button>
        @foreach (var cuisine in Model.Cuisines)
        {
            <button class="action filter__item" data-filter=".@cuisine.Name.Replace(" ","")"><span class="action__text">@cuisine.Name</span></button>
            @*<button class="action filter__item" data-filter=".shirts"><i class="icon icon--shirt"></i><span class="action__text">Shirts</span></button>
                <button class="action filter__item" data-filter=".dresses"><i class="icon icon--dress"></i><span class="action__text">Dresses</span></button>
                <button class="action filter__item" data-filter=".trousers"><i class="icon icon--trousers"></i><span class="action__text">Trousers</span></button>
                <button class="action filter__item" data-filter=".shoes"><i class="icon icon--shoe"></i><span class="action__text">Shoes</span></button>*@
        }
    </div>
    <button class="cart" onclick="location.href='@Url.Action("Index", "ShoppingCart")'">
        <i class="cart__icon fa fa-shopping-cart"></i>
        <span class="text-hidden">Shopping cart</span>
        <span class="cart__count">0</span>
    </button>
</div>
<!-- Main view -->
<div class="view">
    <!-- Grid -->
    <section class="grid grid--loading">
        <!-- Loader -->
        <img class="grid__loader" src="~/Images/grid.svg" width="60" alt="Loader image" />
        <!-- Grid sizer for a fluid Isotope (Masonry) layout -->
        <div class="grid__sizer"></div>
        <!-- Grid items -->
        @foreach (var item in Model.Items)
        {
            if (@item.IsVeg)
            {
                <div class="grid__item veg @item.Cuisine.Name.Replace(" ","")">
                    <div class="slider">
                        <div class="slider__item"><img src="@Url.Action("RenderImage", new { id = item.ID})" alt=@item.Name /></div>
                    </div>
                    <div class="meta">
                        <h3 class="meta__title">@item.Name</h3>
                        <span class="meta__brand">@item.Description</span>
                        <span class="meta__price">@item.Price</span>
                        <span class="meta__calorie">@item.Calories cal</span>
                    </div>
                    <button class="action action--button action--buy AddLink" data-id="@item.ID"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
                    <img class="veg-icon" src="~/Images/veg.jpg" />
                </div>
            }
            else
            {
                <div class="grid__item nonVeg @item.Cuisine.Name.Replace(" ","")">
                    <div class="slider">
                        <div class="slider__item"><img src="@Url.Action("RenderImage", new { id = item.ID})" alt=@item.Name /></div>
                    </div>
                    <div class="meta">
                        <h3 class="meta__title">@item.Name</h3>
                        <span class="meta__brand">@item.Description</span>
                        <span class="meta__price">@item.Price</span>
                        <span class="meta__calorie">@item.Calories cal</span>
                    </div>
                    <button class="action action--button action--buy AddLink" data-id="@item.ID"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
                    <img class="nonveg-icon" src="~/Images/non-veg.jpg" />
                </div>
            }
        }

        @*<div class="grid__item shirts">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/shirt.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item shoes">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/shoe.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item dresses">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/dress.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item grid__item--size-a shirts">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/shirt.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item trousers">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/trousers.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item grid__item--size-a jackets">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/jacket.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item shoes">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/shoe.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item shirts">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/shirt.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item shoes">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/shoe.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item dresses">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/dress.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item shirts">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/shirt.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item trousers">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/trousers.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item jackets">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/jacket.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item shoes">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/shoe.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item grid__item--size-a dresses">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/dress.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item trousers">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/trousers.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item shoes">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/shoe.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item jackets">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/jacket.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item shirts">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/shirt.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item shoes">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/shoe.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item dresses">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/dress.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item shirts">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/shirt.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item grid__item--size-a trousers">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/trousers.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item jackets">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/jacket.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item shoes">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/shoe.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item shirts">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/shirt.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item shoes">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/shoe.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item dresses">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/dress.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item shirts">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/shirt.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item trousers">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/trousers.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item jackets">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/jacket.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item shoes">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/shoe.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item grid__item--size-a dresses">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/dress.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item trousers">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/trousers.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item shoes">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/shoe.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div class="grid__item jackets">
                <div class="slider">
                    <div class="slider__item"><img src="~/Images/jacket.png" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title">Dummy Product</h3>
                    <span class="meta__brand">Dummy Brand</span>
                    <span class="meta__price">$99</span>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>*@

    </section>
    <!-- /grid-->
</div>

@*<h2>Order some good food.</h2>
    @if (Request.IsAuthenticated)
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
    <div class="bs-docs-section">
        <div class="row">
            @using (Html.BeginForm("Index", "Items", FormMethod.Get))
            {

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Find: </span>
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-info btn-sm" value="Search" />
                        </span>
                    </div>
                </div>
            }
        </div>
    </div>
    <table class="table">
        <tr>
            <th>
                Category
            </th>
            <th>
                @Html.ActionLink("Item Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Item Price", "Index", new { sortOrder = ViewBag.PriceSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Picture
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemPictureUrl)
                </td>
                <td>
                    <a href="#" class="AddLink"
                       data-id="@item.ID" data-toggle="modal" data-target="#myModal">
                        Add
                        to cart
                    </a>
                    @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = item.ID }, new { htmlAttributes = new { @data_toggle = "modal", @data_target = "#myModal" } }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    }
                </td>
            </tr>
        }
    </table>
    <br />*@
@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageN
                    </td>
                </tr>
        }

    </table>
    <br />
    @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@
<!-- /view -->
<script src="~/Scripts/isotope.pkgd.min.js"></script>
<script src="~/Scripts/flickity.pkgd.min.js"></script>
<script src="~/Scripts/food.js"></script>
